
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <main class="mdl-layout__content">
        <div class="encabezado-login" >
            <div style="float: left;">
                <img class="img-sep-header" src="public/assets/images/logos/sep.jpg">
            </div>
            <div style="float: right;">
                <img class="img-inifed-header" src="public/assets/images/logos/inifed.jpg">
            </div>
        </div>
        
        <div class="div-plataforma-login">
            <div class="img-center-in-div title">
                Plataforma para la Reconstrucción de la infraestructura afectada
            </div>
            <div class="img-center-in-div subtitle">
                Seguimiento de Proyectos
                <span>por Empresa</span>
            </div>
        </div>
        
        <div class="div-inicio-sesion">
            <p class="img-center-in-div">INICIO DE SESIÓN</p>
        </div>
        <form name="userForm" novalidate="">
            <div class="div-renglon-inputs-login">
                <div class="mdl-textfield mdl-js-textfield div-inputs-login" 
                     ng-class="{ 'is-invalid' : (userForm.usuario.$invalid && userForm.usuario.$touched) ||
                                (userForm.usuario.$invalid && userForm.usuario.$dirty) ||
                                (userForm.usuario.$invalid && user.submitted) }">
                    <input id="usuario" name="usuario" class="mdl-textfield__input img-center-in-div" 
                           type="text" ng-model="user.usuario" required="">
                    <label class="mdl-textfield__label" for="usuario">Usuario</label>
                    <span class="mdl-textfield__error">El usuario es requerido</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield div-inputs-login"
                     ng-class="{ 'is-invalid' : (userForm.password.$invalid && userForm.password.$touched) ||
                                                   (userForm.password.$invalid && userForm.password.$dirty) ||
                                                   (userForm.password.$invalid && user.submitted) }">
                    <input id="password" name="password" type="password" 
                           class="mdl-textfield__input img-center-in-div" ng-model="user.password" required="">
                    <label class="mdl-textfield__label" for="password">Password</label>
                    <span class="mdl-textfield__error">El password es requerido</span>
                </div>
            </div>
            <div><p ng-show="user.success" class="msg-login img-center-in-div">{{user.msg}}</p></div>
            <div class="div-button-login">
                <button class="mdl-button mdl-js-button button-ia mdl-button--colored img-center-in-div"
                        ng-click="login();">
                    Aceptar
                </button>
            </div>
        </form>
    </main>
    <footer class="mdl-mini-footer">
        <div style="width: 50%; float: left;">
            <img class="img-grupo-ia-footer" src="public/assets/images/logos/grupo_ia.jpg">
        </div>
        <div style="width: 50%; float: left;">
            <img class="img-agendas-footer" src="public/assets/images/logos/agendas.jpg">
        </div>
    </footer>
</div>