
/*Login*/
.img-sep-header {
    width: 45%;
}
.img-inifed-header {
    width: 35%;
    float: right;
}
.img-plataforma-center {
    width: 60%;
}
.img-seguimiento-2 {
    width: 30%;
}
.mdl-mini-footer {
    height: 8%;
    padding: 8px;
}