/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/12/2015, 11:35:49 AM
    Author     : ifernandez
*/
@charset "utf-8";
@font-face {
    font-family: 'BankGothicLtBT';
    src: url('../fonts/bgothl-webfont.eot');
    src: url('../fonts/bgothl-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bgothl-webfont.woff') format('woff'),
        url('../fonts/bgothl-webfont.ttf') format('truetype'),
        url('../fonts/bgothl-webfont.svg#BankGothicLtBT') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BankGothicLtBT';
    src: url('../fonts/bgothl-webfont.eot');
    src: url('../fonts/bgothl-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/bgothl-webfont.woff') format('woff'),
        url('../fonts/bgothl-webfont.ttf') format('truetype'),
        url('../fonts/bgothl-webfont.svg#BankGothicLtBT') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'swis721_btbold';
    src: url('../fonts/swissb-webfont.eot');
    src: url('../fonts/swissb-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/swissb-webfont.woff2') format('woff2'), url('../fonts/swissb-webfont.woff') format('woff'), url('../fonts/swissb-webfont.ttf') format('truetype'), url('../fonts/swissb-webfont.svg#swis721_btbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'swiss_721light';
    src: url('../fonts/swiss_721_light_0-webfont.eot');
    src: url('../fonts/swiss_721_light_0-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/swiss_721_light_0-webfont.woff2') format('woff2'),
        url('../fonts/swiss_721_light_0-webfont.woff') format('woff'),
        url('../fonts/swiss_721_light_0-webfont.ttf') format('truetype'),
        url('../fonts/swiss_721_light_0-webfont.svg#swiss_721light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'muliitalic';
    src: url('../fonts/muli-italic-webfont.eot');
    src: url('../fonts/muli-italic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/muli-italic-webfont.woff2') format('woff2'),
        url('../fonts/muli-italic-webfont.woff') format('woff'),
        url('../fonts/muli-italic-webfont.ttf') format('truetype'),
        url('../fonts/muli-italic-webfont.svg#muliitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mulilight';
    src: url('../fonts/muli-light-webfont.eot');
    src: url('../fonts/muli-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/muli-light-webfont.woff2') format('woff2'),
        url('../fonts/muli-light-webfont.woff') format('woff'),
        url('../fonts/muli-light-webfont.ttf') format('truetype'),
        url('../fonts/muli-light-webfont.svg#mulilight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'mulilight_italic';
    src: url('../fonts/muli-lightitalic-webfont.eot');
    src: url('../fonts/muli-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/muli-lightitalic-webfont.woff2') format('woff2'),
        url('../fonts/muli-lightitalic-webfont.woff') format('woff'),
        url('../fonts/muli-lightitalic-webfont.ttf') format('truetype'),
        url('../fonts/muli-lightitalic-webfont.svg#mulilight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'muliregular';
    src: url('../fonts/muli-regular-webfont.eot');
    src: url('../fonts/muli-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/muli-regular-webfont.woff2') format('woff2'),
        url('../fonts/muli-regular-webfont.woff') format('woff'),
        url('../fonts/muli-regular-webfont.ttf') format('truetype'),
        url('../fonts/muli-regular-webfont.svg#muliregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'fontello';
    src: url('../fonts/fontello.eot?76708861');
    src: url('../fonts/fontello.eot?76708861#iefix') format('embedded-opentype'),
        url('../fonts/fontello.woff?76708861') format('woff'),
        url('../fonts/fontello.ttf?76708861') format('truetype'),
        url('../fonts/fontello.svg?76708861#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TrajanPro-Regular';
    src: url('../fonts/TrajanPro-Regular.eot?#iefix') format('embedded-opentype'),  
        url('../fonts/TrajanPro-Regular.otf')  format('opentype'),
        url('../fonts/TrajanPro-Regular.woff') format('woff'), 
        url('../fonts/TrajanPro-Regular.ttf')  format('truetype'), 
        url('../fonts/TrajanPro-Regular.svg#TrajanPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
        url('../fonts/OpenSans-Semibold.woff') format('woff'),
        url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
        url('../fonts/OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.eot");
    src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
        url("../fonts/Flaticon.woff") format("woff"),
        url("../fonts/Flaticon.ttf") format("truetype"),
        url("../fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
    }
}
html,
body {
    height: 100%;
    width: 100%;
}
p{
    margin: 0 0 0px;
}
/*Login*/
.encabezado-login {
    width: 100%; 
    margin-top: 5px;
}
.encabezado-login > div {
    width: 50%; 
}
.div-plataforma-login {
    margin-top: 110px; 
}
@media (max-width: 360px){
    .div-plataforma-login {
        margin-top: 72px; 
    }   
}
.div-plataforma-login > div {
    margin-bottom: 0px;
}
.plataformName{
    position: absolute;
}
.div-inicio-sesion {
    /*margin-top: 40px;*/
}
.div-renglon-inputs-login {
    /*padding: 0 60px 0;*/
    margin: 0 auto;
    width: 250px;
}
.div-button-login {
    margin-top: 20px;
    height: 50px;
}
.mdl-layout__content {
    background-color: #e6e6e6;
    height: 90%;
}
.mdl-mini-footer {
    background-color: #f2f2f2;
}
.mdl-mini-footer > div:nth-child(1) {
    display: flex;
    align-items: center;
}
.mdl-mini-footer > div:nth-child(2) {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.msg-login {
    color: #d50000;
}
.mdl-textfield__error {
    font-family: 'Open Sans';
}
.tituloHeader{
    font-size: 1em;
    font-family: 'TrajanPro-Regular';
    padding-top: 0px;
    line-height: 1.3;
    text-align: center;
}
.tituloHeader > small{
    color: #094D7A;
    font-size: 0.8em;
}
/*Home*/
.mdl-layout__header {
    background-color: #f2f2f2;
}


.img-seguimiento {
    width: 35%;
    height: 35%;
    max-width: 450px;
}
.img-seguimiento-2 {
    width: 65%;
}

.img-grupo-ia-footer {
    width: 25%;
    float: left;
    /*height: 30%;*/
    max-width: 130px;
}
.img-agendas-footer {
    width: 45%;
    float: right;
    /*height: 30%;*/
    max-width: 130px;
}

.img-sep-center {
    width: 80%;
}
.img-inifed-center {
    width: 65%;
}
.menu-arquitectura {
    width: 100%;
    height: 175px;
    background: rgb(230,230,230); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(230,230,230,1) 0%, rgba(179,179,179,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(230,230,230,1) 0%,rgba(179,179,179,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(230,230,230,1) 0%,rgba(179,179,179,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#b3b3b3',GradientType=0 ); /* IE6-9 */
}
.etiquetas {
    color: #b7b7b7;
    margin-bottom: 0;
}
.etiqueta {
    font-size: 0.9em;
    line-height: 15px !important;
    margin-top: 5px;
}
.img-center-in-div {
    display: block;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
}
.img-arquitectura {
    width: 60%;
}

.etiqueta-clave-obra {
    font-size: 1.5em;
    margin-bottom: 0;
}
.div-obra-asignada {
    width: 100%; 
    height: 20%;
    border-bottom: 1px solid gray;
    padding-top: 20px;
}
.div-inputs-login {
    width: 100%; 
    margin-top: 0px;
    margin: 0 auto;
}
.mdl-textfield{
    display: block!important;
    padding: 10px 0;
}
.mdl-textfield__label{
    top: 18px; 
}
.mdl-textfield__label:after {
    bottom: 10px!important;
}
.button-ia{
    background: #999;
    color: white!important;
    font-family: 'Open Sans';
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5)!important;
}
.button-ia:hover, .button-ia:active, .button-ia:focus {
    background-color: #10998f;
    color: white !important;
    box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.5)!important;
}
.mdl-button.mdl-button--colored:focus:not(:active){
    position: relative;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5)!important;
    background-color: #10998f;
}
.mdl-button{
    font-weight: bold;
    font-family: 'Open Sans';
    font-size: 15px;
    color: #0F998F;
    line-height: 23px;
    height: auto;
    width: 100%;
    min-height: 36px;
    max-width: 195px;
}
.mdl-button[disabled][disabled], .mdl-button.mdl-button--disabled.mdl-button--disabled {
    color: rgba(0,0,0,.5);
}
.button-ia:active{
    position: relative;
    top: 1px;
    left: 1px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5)!important;
}
.img-sep-header, .img-inifed-header{
    max-width: 260px;
}

/*Obra*/
.mdl-layout__header-row azul {
    background-color: #0b4a73;
}

/*Carga de imágenes*/
.mdl-grid-sin-padding {
    padding: 0;
}
.div-carga-imagen {
    width: 100%;
    height: 100px;
    position: relative;
}
.button-add-file {
    border: 2px dashed #ddd;
    display: block;
    margin-left: auto; 
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.button-add-icon {
    vertical-align: middle;
    max-height: 100%;
    max-width: 100px;
    font-size: 40px;
    color: #12988d;
}
.imagen-standby {
    background: #e6e6e6;
    border: 2px solid #e6e6e6;
}
.imagen-cargada {
    width: 100%;
    height: 100px;
}
.nombre-imagen-cargada {
    position: absolute;
    top: 75px;
    left: 5px;
    width: 100%;
    color: lightgray;
    font-size: 10px;
}
.div-centrado-vertical {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    vertical-align: middle;
    white-space: nowrap;
}
.div-vertical {
    display: block;
    vertical-align: middle;
    white-space: nowrap;
}
.open-sans {
    font-family: 'Open Sans';
}
.div-obra-home {
    position: relative;
}
.obra-fondo {
    position: absolute;
    width: 100%;
    height: 100%;
}
.info-obra {
    position: absolute;
    right: 0;
    top: 5px;
    background-color: #f1f1f1;
    width: 250px;
    padding: 15px;
    min-height: 170px;
    z-index: 500;
}
.info-obra-linea {
    width: 100%; 
    text-align: right;
    margin: 0;
}
.info-obra-linea > span {
    color: black;
}
.mdl-grid{
    font-family: 'Open Sans'
}
#reportesCargarFormulariosImagenes{
    /*overflow-y: auto;
    max-height: 50vh;*/
}
label input {
    display: none;/* <-- hide the default checkbox */
}
label span {/* <-- style the artificial checkbox */
    height: 16px;
    width: 16px;
    border: 1px solid #00857B;
    display: inline-block;
    position: relative;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    background: #E6E6E6;
    border-radius: 25px;
}
[type=checkbox]:checked + span:before {/* <-- style its checked state..with a ticked icon */
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    color: #00857B;
    font-size: 20px;
    border-radius: 25px;
    background: #00857B;
    width: 12px;
    height: 12px;
}
.labelCheck{
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    right: 0;
}

/*Orange*/
label.orange span {/* <-- style the artificial checkbox */
    border: 1px solid #F15A24;
}
.orange > [type=checkbox]:checked + span:before {/* <-- style its checked state..with a ticked icon */
    color: #F15A24;
}