
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    <!--Header-->
    <div class="header-blue" style="height: 8%;">
        <div class="div-centrado-vertical" style="width: 10%;">
            <span class="helper"></span>
            <a href="#/home"><img src="public/assets/images/svg/atras.svg" class="atrasIcon"></a>
        </div>                
        <div class="div-centrado-vertical" style="width: 50%;">
            <span class="helper"></span>CCT {{user.obraSeleccionada.claveCCT}}
        </div>
        <div class="div-centrado-vertical" style="width: 30%;">
            <div class="indicador">
                <div class="lineInd" ng-class="{'indicador-gris': (user.obraSeleccionada.etps[0].color == 'gris'), 
                    'indicador-verde': (user.obraSeleccionada.etps[0].color == 'verde'),
                    'indicador-amarillo': (user.obraSeleccionada.etps[0].color == 'amarillo'),
                    'indicador-rojo': (user.obraSeleccionada.etps[0].color == 'rojo')}"></div>
                <div class="lineInd" ng-class="{'indicador-gris': (user.obraSeleccionada.etps[1].color == 'gris'), 
                    'indicador-verde': (user.obraSeleccionada.etps[1].color == 'verde'),
                    'indicador-amarillo': (user.obraSeleccionada.etps[1].color == 'amarillo'),
                    'indicador-rojo': (user.obraSeleccionada.etps[1].color == 'rojo')}"></div>
                <div class="lineInd" ng-class="{'indicador-gris': (user.obraSeleccionada.etps[2].color == 'gris'), 
                    'indicador-verde': (user.obraSeleccionada.etps[2].color == 'verde'),
                    'indicador-amarillo': (user.obraSeleccionada.etps[2].color == 'amarillo'),
                    'indicador-rojo': (user.obraSeleccionada.etps[2].color == 'rojo')}"></div>
                <div class="lineInd" ng-class="{'indicador-gris': (user.obraSeleccionada.etps[3].color == 'gris'), 
                    'indicador-verde': (user.obraSeleccionada.etps[3].color == 'verde'),
                    'indicador-amarillo': (user.obraSeleccionada.etps[3].color == 'amarillo'),
                    'indicador-rojo': (user.obraSeleccionada.etps[3].color == 'rojo')}"></div>
                <div class="lineInd" ng-class="{'indicador-gris': (user.obraSeleccionada.etps[4].color == 'gris'), 
                    'indicador-verde': (user.obraSeleccionada.etps[4].color == 'verde'),
                    'indicador-amarillo': (user.obraSeleccionada.etps[4].color == 'amarillo'),
                    'indicador-rojo': (user.obraSeleccionada.etps[4].color == 'rojo')}"></div>
                <div class="lineInd" ng-class="{'indicador-gris': (user.obraSeleccionada.etps[5].color == 'gris'), 
                    'indicador-verde': (user.obraSeleccionada.etps[5].color == 'verde'),
                    'indicador-amarillo': (user.obraSeleccionada.etps[5].color == 'amarillo'),
                    'indicador-rojo': (user.obraSeleccionada.etps[5].color == 'rojo')}"></div>
                <div class="lineInd" ng-class="{'indicador-gris': (user.obraSeleccionada.etps[6].color == 'gris'), 
                    'indicador-verde': (user.obraSeleccionada.etps[6].color == 'verde'),
                    'indicador-amarillo': (user.obraSeleccionada.etps[6].color == 'amarillo'),
                    'indicador-rojo': (user.obraSeleccionada.etps[6].color == 'rojo')}"></div>
                <div class="lineInd" ng-class="{'indicador-gris': (user.obraSeleccionada.etps[7].color == 'gris'), 
                    'indicador-verde': (user.obraSeleccionada.etps[7].color == 'verde'),
                    'indicador-amarillo': (user.obraSeleccionada.etps[7].color == 'amarillo'),
                    'indicador-rojo': (user.obraSeleccionada.etps[7].color == 'rojo')}"></div>
            </div>
        </div>
        <div class="div-vertical" style="width: 10%;">
            <span class="helper"></span>
            <a href="" ng-click="muestraOcultaInfoObra();"><img src="public/assets/images/svg/info.svg" class="infoIcon"></a>
        </div>
    </div>

    <!--Contenido-->
    <main class="mdl-layout__content" style="height: 68%;">
        <div class="plataformName">
            <div class="title div-plataforma" style="text-align: center; margin-top: {{$root.altoVentana / 3}}px">
                Plataforma para la Reconstrucción de la infraestructura afectada
            </div>
            <div class="obra-logos-centro">
                <img src="public/assets/images/logos/SEP_logo_2012.png" class="img-responsive sep">
            </div>
            <div class="obra-logos-centro">
                <img src="public/assets/images/logos/logo-INIFED_alt.png" class="img-responsive inifed">
            </div>
        </div>

        <div class="div-obra-home">
            <!--Tarjeta Info-->
            <div id="tarjetaInfo" class="mdl-card mdl-shadow--2dp info-obra open-sans" ng-show="VISTAS['home'].infoObra_show">
                <div style="width: 100%; height: 20%;">
                    <p class="text_gray info-obra-linea">NOMBRE: <span>{{user.obraSeleccionada.nombre}}</span></p>
                    <p class="text_gray info-obra-linea">NIVEL: <span>{{user.obraSeleccionada.nivel}}</span></p>
                    <p class="text_gray info-obra-linea">ENTIDAD: <span>{{user.obraSeleccionada.estado}}</span></p>
                    <p class="text_gray info-obra-linea">MUNICIPIO: <span>{{user.obraSeleccionada.municipio}}</span></p>
                    <p class="text_gray info-obra-linea">LOCALIDAD: <span>{{user.obraSeleccionada.localidad}}</span></p>
                </div>
            </div>

            <!--Vistas-->

            <!--Home-->
            <div id="home" class="obra-fondo" ng-show="VISTAS['home'].selected">
                
            </div>

            <!--Alertas-->
            <div id="alertas" class="obra-fondo" ng-show="VISTAS['alertas'].selected">
                <div class="mdl-card mdl-shadow--2dp tarjeta wrapperContentVentana" style="height: {{$root.altoVentana - 250}}px">
                    <h5 class="marg0">Historial de Alertas</h5>

                    <div class="wrapperAcordion">
                        <button class="accordion">
                            <div class="iconAlert">
                                <img src="public/assets/images/svg/alertIcon.svg">
                                <span class="circleAlert"></span>
                            </div>
                            <div class="labelAcordion">
                                Aviso   14/11/2017
                            </div>
                        </button>
                        <div class="panel">
                            <div style="width: 100%; height: 20%; padding: 12px 0px;">
                                <p class="text_gray info-obra-acordion">CCT: <span>20DPR2148Q</span></p>
                                <p class="text_gray info-obra-acordion">NOMBRE: <span>LUIS B. TOLEDO</span></p>
                                <p class="text_gray info-obra-acordion">NIVEL: <span>PRIMARIA</span></p>
                                <p class="text_gray info-obra-acordion">ENTIDAD: <span>OAXACA</span></p>
                                <p class="text_gray info-obra-acordion">MUNICIPIO: <span>EL ESPINAL</span></p>
                                <p class="text_gray info-obra-acordion">LOCALIDAD: <span>ASUNCIÓN IXTALTEPEC</span></p>
                                <p class="text_gray info-obra-acordion">REPORTE: <span>2.1 EXCAVACIÓN</span></p>
                                <p class="text_red txtRl">
                                    El reporte debió haberse enviado el día: 09/12/2017 (5 días)
                                </p>
                            </div>
                        </div>

                        <button class="accordion">
                            <div class="iconAlert">
                                <img src="public/assets/images/svg/alertIcon.svg">
                            </div>
                            <div class="labelAcordion">
                                Aviso   14/11/2017
                            </div>
                        </button>
                        <div class="panel">
                            <div style="width: 100%; height: 20%; padding: 12px 0px;">
                                <p class="text_gray info-obra-acordion">CCT: <span>20DPR2148Q</span></p>
                                <p class="text_gray info-obra-acordion">NOMBRE: <span>LUIS B. TOLEDO</span></p>
                                <p class="text_gray info-obra-acordion">NIVEL: <span>PRIMARIA</span></p>
                                <p class="text_gray info-obra-acordion">ENTIDAD: <span>OAXACA</span></p>
                                <p class="text_gray info-obra-acordion">MUNICIPIO: <span>EL ESPINAL</span></p>
                                <p class="text_gray info-obra-acordion">LOCALIDAD: <span>ASUNCIÓN IXTALTEPEC</span></p>
                                <p class="text_gray info-obra-acordion">REPORTE: <span>2.1 EXCAVACIÓN</span></p>
                                <p class="text_red txtRl">
                                    El reporte debió haberse enviado el día: 09/12/2017 (5 días)
                                </p>
                            </div>
                        </div>

                        <button class="accordion">
                            <span class="iconAlert">
                                <img src="public/assets/images/svg/alertWarning.svg">
                            </span>
                            <span class="labelAcordion">
                                Aviso   14/11/2017
                            </span>
                        </button>
                        <div class="panel">
                            <div style="width: 100%; height: 20%; padding: 12px 0px;">
                                <p class="text_gray info-obra-acordion">CCT: <span>20DPR2148Q</span></p>
                                <p class="text_gray info-obra-acordion">NOMBRE: <span>LUIS B. TOLEDO</span></p>
                                <p class="text_gray info-obra-acordion">NIVEL: <span>PRIMARIA</span></p>
                                <p class="text_gray info-obra-acordion">ENTIDAD: <span>OAXACA</span></p>
                                <p class="text_gray info-obra-acordion">MUNICIPIO: <span>EL ESPINAL</span></p>
                                <p class="text_gray info-obra-acordion">LOCALIDAD: <span>ASUNCIÓN IXTALTEPEC</span></p>
                                <p class="text_gray info-obra-acordion">REPORTE: <span>2.1 EXCAVACIÓN</span></p>
                                <p class="text_warning txtRl">
                                    El reporte debió haberse enviado el día: 09/12/2017 (5 días)
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Reportes-->
            <div id="reportes" class="obra-fondo open-sans" ng-show="VISTAS['reportes'].selected">
                <!--Listado-->
                <div id="reportesListado" class="mdl-card tarjeta tarjeta-gestores" ng-show="VISTAS['reportes'].listado.selected" style="height: {{$root.altoVentana - 250}}px">
                    <div class="div-vertical" style="height: 40px;">
                        <span class="helper"></span>Gestor de Reportes
                    </div>

                    <!--Etapas-->
                    <div id="reportesEtapas" ng-show="VISTAS['reportes'].listado.etapaSelected">
                        <div class="div-vertical alertOpt" style="height: 40px;"><span class="helper"></span>Seleccione Etapa</div>
                        <div>
                            <div class="div-vertical etapa" ng-repeat="etapa in VISTAS['reportes'].listado.etapas" 
                                 ng-click="seleccionaEtapa('reportes', etapa.idEtapa);">
                                <span class="helper"></span>{{etapa.orden}} {{etapa.etapa}}
                            </div>
                        </div>
                    </div>

                    <!--Tareas-->
                    <div id="reportesTareas" ng-show="VISTAS['reportes'].listado.tareaSelected">
                        <div class="div-tareas" style="height: 40px;" ng-click="irAEtapas();">
                            <div><i class="material-icons" style="padding-top: 7px;">keyboard_arrow_left</i></div>
                            <div class="div-vertical">
                                <span class="helper"></span> {{VISTAS['reportes'].listado.etapaSeleccionada.orden}} {{VISTAS['reportes'].listado.etapaSeleccionada.etapa}}
                            </div>
                        </div>
                        <div class="div-vertical alertOpt" style="height: 40px;"><span class="helper"></span>Seleccione Tarea</div>
                        <div>
                            <div class="div-vertical etapa" 
                                 ng-repeat="tarea in VISTAS['reportes'].listado.etapaSeleccionada.tareas" 
                                 ng-click="seleccionaTarea('reportes', tarea.idTarea);">
                                <span class="helper"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tarea.orden}} {{tarea.nombre}}
                            </div>
                        </div>
                    </div>
                </div>

                <!--Cargar-->
                <div id="reportesCargar" class="mdl-card mdl-shadow--2dp tarjeta tarjeta-reportes" ng-show="VISTAS['reportes'].cargar.selected" style="height: {{$root.altoVentana - 250}}px">
                    <!--Encabezado-->
                    <div id="reportesCargarEncabezado" style="margin-bottom: 15px;">
                        <div class="div-encabezado-imagenes">
                            <div style="float: left;">
                                <div class="div-vertical" style="float: left; font-size: 14px;">
                                    <span class="helper"></span>{{VISTAS['reportes'].listado.etapaSeleccionada.orden}} {{VISTAS['reportes'].listado.etapaSeleccionada.etapa}}
                                </div>
                            </div>
                            <div class="div-vertical" style="float: right;">
                                <p class="texto-semanas" ng-show="VISTAS['reportes'].cargar.reporteSelected">
                                    <span style="font-size: 14px;">SEMANA {{VISTAS['reportes'].listado.tareaSeleccionada.semana}}</span><br>{{VISTAS['reportes'].listado.tareaSeleccionada.fechas}}
                                </p>
                                <div ng-show="VISTAS['reportes'].cargar.imagenesSelected">
                                    <button ng-click="adjuntar();" 
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect"
                                            ng-disabled="(!reporte.imagenesAdjuntasSelected[0]) &&
                                                                (!reporte.imagenesAdjuntasSelected[1]) &&
                                                                (!reporte.imagenesAdjuntasSelected[2]) &&
                                                                (!reporte.imagenesAdjuntasSelected[3]) &&
                                                                (!reporte.imagenesAdjuntasSelected[4]) &&
                                                                (!reporte.imagenesAdjuntasSelected[5])">Adjuntar</button>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom: 25px;">
                            <div class="div-vertical" style="float: left; font-size: 16px;">
                                <span class="helper"></span>{{VISTAS['reportes'].listado.tareaSeleccionada.orden}} {{VISTAS['reportes'].listado.tareaSeleccionada.nombre}}
                            </div>
                        </div>
                    </div>

                    <!--Formularios-->
                    <div id="reportesCargarFormularios">
                        <!--Reporte-->
                        <div id="reportesCargarFormulariosReporte" ng-show="VISTAS['reportes'].cargar.reporteSelected">
                            <!--Avances-->
                            <div id="reportesCargarFormulariosReporteAvances" style="margin-bottom: 15px; height: 50px;">
                                <div>
                                    <div style="float: left; width: 50%;">
                                        <label style="font-size: 15px;">Avance semanal: </label>
                                    </div>
                                    <div style="float: left; width: 50%;">
                                        <div style="width: 50px;">
                                            <input id="avanceSemanal" name="avanceSemanal" 
                                                   class="mdl-textfield__input" style="float: left; border-bottom: 0.5px solid rgba(18,152,141,1);"
                                                   type="text" ng-model="reporte.avanceSemanal" 
                                                   numbers-only>
                                        </div>
                                        <div style="float: left;">%</div>
                                    </div>
                                </div>
                                <div style="">
                                    <div style="float: left; width: 50%;">
                                        <label style="font-size: 15px;">Avance acumulado: </label>
                                    </div>
                                    <div style="float: left; width: 50%;">
                                        <label>{{VISTAS['reportes'].listado.tareaSeleccionada.porcentajeAcumulado}}%</label>
                                    </div>
                                </div>
                            </div>
                            <div style="margin-bottom: 15px;">
                                <textarea class="mdl-textfield__input" rows="10" 
                                          style="border: 0.5px solid rgba(18,152,141,.8)"
                                          ng-model="reporte.textoAvance"></textarea>
                            </div>
                            <div ng-show="reporte.imagenesAdjuntas.length > 0" style="margin-bottom: 10px; font-size: 14px;">
                                Imágenes adjuntas: {{reporte.imagenesAdjuntas.length}}
                            </div>
                            <div class="div-encabezado-imagenes">
                                <div style="float: left; ">
                                    <button ng-click="agregarImagenes();" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #0F998F;">{{(reporte.imagenesAdjuntas.length > 0) ? 'Editar' : 'Agregar'}} Imágenes</button>
                                </div>
                                <div style="float: left; ">
                                    <button ng-click="enviarReporte();" 
                                            class="mdl-button mdl-js-button mdl-js-ripple-effect" 
                                            ng-disabled="(reporte.avanceSemanal == '0' || reporte.avanceSemanal == '') ||
                                                                (reporte.textoAvance == '') ||
                                                                (reporte.imagenesAdjuntas.length === 0)">Enviar Reporte</button>
                                </div>
                            </div>
                        </div>

                        <!--Selecciona Imagenes-->
                        <div id="reportesCargarFormulariosImagenes" ng-show="VISTAS['reportes'].cargar.imagenesSelected">
                            <div class="mdl-grid mdl-grid-sin-padding">
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">
                                    <!--Stand-by-->
                                    <div class="div-carga-imagen imagen-standby" ng-show="VISTAS['reportes'].cargar.imagenes[0].standby_show"></div>
                                    <!--Imagen cargada-->
                                    <div class="div-carga-imagen" ng-show="VISTAS['reportes'].cargar.imagenes[0].imagencargada_show">
                                        <label class="labelCheck">
                                            <input class="check-imagen" type="checkbox" ng-model="reporte.imagenesAdjuntasSelected[0]">
                                            <span></span>
                                        </label>
                                        <div style="position: relative;">
                                            <img class="imagen-cargada" ng-src="{{VISTAS['reportes'].cargar.imagenes[0].imagencargada_base64}}">
                                            <p class="nombre-imagen-cargada">{{VISTAS['reportes'].cargar.imagenes[0].imagencargada_nombre}}</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">

                                    <!--Stand-by-->
                                    <div class="div-carga-imagen imagen-standby" ng-show="VISTAS['reportes'].cargar.imagenes[1].standby_show"></div>
                                    <!--Imagen cargada-->
                                    <div class="div-carga-imagen" ng-show="VISTAS['reportes'].cargar.imagenes[1].imagencargada_show">
                                        <label class="labelCheck">
                                            <input class="check-imagen" type="checkbox"ng-model="reporte.imagenesAdjuntasSelected[1]">
                                            <span></span>
                                        </label>                                        
                                        <div style="position: relative;">
                                            <img class="imagen-cargada" ng-src="{{VISTAS['reportes'].cargar.imagenes[1].imagencargada_base64}}">
                                            <p class="nombre-imagen-cargada">{{VISTAS['reportes'].cargar.imagenes[1].imagencargada_nombre}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="mdl-grid mdl-grid-sin-padding">
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">

                                    <!--Stand-by-->
                                    <div class="div-carga-imagen imagen-standby" ng-show="VISTAS['reportes'].cargar.imagenes[2].standby_show"></div>
                                    <!--Imagen cargada-->
                                    <div class="div-carga-imagen" ng-show="VISTAS['reportes'].cargar.imagenes[2].imagencargada_show">
                                        <label class="labelCheck">
                                            <input class="check-imagen" type="checkbox" ng-model="reporte.imagenesAdjuntasSelected[2]">
                                            <span></span>
                                        </label>
                                        <div style="position: relative;">
                                            <img class="imagen-cargada" ng-src="{{VISTAS['reportes'].cargar.imagenes[2].imagencargada_base64}}">
                                            <p class="nombre-imagen-cargada">{{VISTAS['reportes'].cargar.imagenes[2].imagencargada_nombre}}</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">

                                    <!--Stand-by-->
                                    <div class="div-carga-imagen imagen-standby" ng-show="VISTAS['reportes'].cargar.imagenes[3].standby_show"></div>
                                    <!--Imagen cargada-->
                                    <div class="div-carga-imagen" ng-show="VISTAS['reportes'].cargar.imagenes[3].imagencargada_show">
                                        <label class="labelCheck">
                                            <input class="check-imagen" type="checkbox" ng-model="reporte.imagenesAdjuntasSelected[3]">
                                            <span></span>
                                        </label>
                                        <div style="position: relative;">
                                            <img class="imagen-cargada" ng-src="{{VISTAS['reportes'].cargar.imagenes[3].imagencargada_base64}}">
                                            <p class="nombre-imagen-cargada">{{VISTAS['reportes'].cargar.imagenes[3].imagencargada_nombre}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="mdl-grid mdl-grid-sin-padding">
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">

                                    <!--Stand-by-->
                                    <div class="div-carga-imagen imagen-standby" ng-show="VISTAS['reportes'].cargar.imagenes[4].standby_show"></div>
                                    <!--Imagen cargada-->
                                    <div class="div-carga-imagen" ng-show="VISTAS['reportes'].cargar.imagenes[4].imagencargada_show">
                                        <label class="labelCheck">
                                            <input class="check-imagen" type="checkbox" ng-model="reporte.imagenesAdjuntasSelected[4]">
                                            <span></span>
                                        </label>
                                        <div style="position: relative;">
                                            <img class="imagen-cargada" ng-src="{{VISTAS['reportes'].cargar.imagenes[4].imagencargada_base64}}">
                                            <p class="nombre-imagen-cargada">{{VISTAS['reportes'].cargar.imagenes[4].imagencargada_nombre}}</p>
                                        </div>
                                    </div>

                                </div>
                                <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">

                                    <!--Stand-by-->
                                    <div class="div-carga-imagen imagen-standby" ng-show="VISTAS['reportes'].cargar.imagenes[5].standby_show"></div>
                                    <!--Imagen cargada-->
                                    <div class="div-carga-imagen" ng-show="VISTAS['reportes'].cargar.imagenes[5].imagencargada_show">
                                        <label class="labelCheck">
                                            <input class="check-imagen" type="checkbox" ng-model="reporte.imagenesAdjuntasSelected[5]">
                                            <span></span>
                                        </label>
                                        <div style="position: relative;">
                                            <img class="imagen-cargada" ng-src="{{VISTAS['reportes'].cargar.imagenes[5].imagencargada_base64}}">
                                            <p class="nombre-imagen-cargada">{{VISTAS['reportes'].cargar.imagenes[5].imagencargada_nombre}}</p>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!--Imagenes-->
            <div id="imagenes" class="obra-fondo open-sans" ng-show="VISTAS['imagenes'].selected">
                <!--Listado-->
                <div id="imagenesListado" class="mdl-card tarjeta tarjeta-gestores" ng-show="VISTAS['imagenes'].listado.selected" style="height: {{$root.altoVentana - 250}}px">
                    <div class="div-vertical" style="height: 40px;">
                        <span class="helper"></span>Gestor de Imágenes
                    </div>

                    <!--Etapas-->
                    <div id="imagenesListadoEtapas" ng-show="VISTAS['imagenes'].listado.etapaSelected">
                        <div class="div-vertical alertOpt" style="height: 40px;"><span class="helper"></span>Seleccione Etapa</div>
                        <div>
                            <div class="div-vertical etapa" ng-repeat="etapa in VISTAS['imagenes'].listado.etapas" 
                                 ng-click="seleccionaEtapa('imagenes', etapa.idEtapa);">
                                <span class="helper"></span>{{etapa.orden}} {{etapa.etapa}}
                            </div>
                        </div>
                    </div>

                    <!--Tareas-->
                    <div id="imagenesListadoTareas" ng-show="VISTAS['imagenes'].listado.tareaSelected">
                        <div class="div-tareas" style="height: 40px;" ng-click="irAEtapas();">
                            <div><i class="material-icons" style="padding-top: 7px;">keyboard_arrow_left</i></div>
                            <div class="div-vertical">
                                <span class="helper"></span> {{VISTAS['imagenes'].listado.etapaSeleccionada.orden}} {{VISTAS['imagenes'].listado.etapaSeleccionada.etapa}}
                            </div>
                        </div>
                        <div class="div-vertical alertOpt" style="height: 40px;"><span class="helper"></span>Seleccione Tarea</div>
                        <div>
                            <div class="div-vertical etapa" 
                                 ng-repeat="tarea in VISTAS['imagenes'].listado.etapaSeleccionada.tareas" 
                                 ng-click="seleccionaTarea('imagenes', tarea.idTarea);">
                                <span class="helper"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{tarea.orden}} {{tarea.nombre}}
                            </div>
                        </div>
                    </div>
                </div>

                <!--Cargar-->
                <div id="imagenesCargar" class="mdl-card mdl-shadow--2dp tarjeta" ng-show="VISTAS['imagenes'].cargar.selected" style="height: {{$root.altoVentana - 250}}px">
                    <!--Encabezado-->
                    <div id="imagenesCargarEncabezado">
                        <div class="div-encabezado-imagenes mdl-grid-sin-padding">
                            <div class="div-vertical" style="float: left; font-size: 13px;">
                                <span class="helper"></span>{{VISTAS['imagenes'].listado.etapaSeleccionada.orden}} {{VISTAS['imagenes'].listado.etapaSeleccionada.etapa}}
                            </div>
                            <div class="div-vertical" style="float: right;">
                                <button ng-click="guardar();" style="color: #0F998F;"
                                        class="mdl-button mdl-js-button mdl-js-ripple-effect">Guardar</button>
                            </div>
                        </div>
                        <div class="mdl-grid-sin-padding">
                            <div class="div-vertical" style="float: left;">
                                <span class="helper"></span>{{VISTAS['imagenes'].listado.tareaSeleccionada.orden}} {{VISTAS['imagenes'].listado.tareaSeleccionada.nombre}}
                            </div>
                        </div>
                    </div>

                    <!--Imagenes-->
                    <div id="imagenesCargarImagenes" class="mdl-grid mdl-grid-sin-padding">
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">

                            <!--Stand-by-->
                            <div class="div-carga-imagen imagen-standby" ng-show="VISTAS['imagenes'].cargar.imagenes[0].standby_show"></div>
                            <!--Archivo-->
                            <div class="div-carga-imagen button-add-file" ng-show="VISTAS['imagenes'].cargar.imagenes[0].archivo_show">
                                <span class="helper"></span>
                                <label>
                                    <i class="material-icons button-add-icon">add</i>
                                    <input id="archivo_0" name="archivo_0" type="file" style="display: none;"
                                           class="archivo" accept="image/x-png,image/gif,image/jpeg">
                                </label>
                            </div>
                            <!--Imagen cargada-->
                            <div class="div-carga-imagen" ng-show="VISTAS['imagenes'].cargar.imagenes[0].imagencargada_show">
                                <img class="imagen-cargada" ng-src="{{VISTAS['imagenes'].cargar.imagenes[0].imagencargada_base64}}">
                                <p class="nombre-imagen-cargada">{{VISTAS['imagenes'].cargar.imagenes[0].imagencargada_nombre}}</p>
                            </div>

                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">

                            <!--Stand-by-->
                            <div class="div-carga-imagen imagen-standby" ng-show="VISTAS['imagenes'].cargar.imagenes[1].standby_show"></div>
                            <!--Archivo-->
                            <div class="div-carga-imagen button-add-file" ng-show="VISTAS['imagenes'].cargar.imagenes[1].archivo_show">
                                <span class="helper"></span>
                                <label>
                                    <i class="material-icons button-add-icon">add</i>
                                    <input id="archivo_1" name="archivo_1" type="file" style="display: none;"
                                           class="archivo" accept="image/x-png,image/gif,image/jpeg">
                                </label>
                            </div>
                            <!--Imagen cargada-->
                            <div class="div-carga-imagen" ng-show="VISTAS['imagenes'].cargar.imagenes[1].imagencargada_show">
                                <img class="imagen-cargada" ng-src="{{VISTAS['imagenes'].cargar.imagenes[1].imagencargada_base64}}">
                                <p class="nombre-imagen-cargada">{{VISTAS['imagenes'].cargar.imagenes[1].imagencargada_nombre}}</p>
                            </div>

                        </div>
                    </div>
                    <div class="mdl-grid mdl-grid-sin-padding">
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">

                            <!--Stand-by-->
                            <div class="div-carga-imagen imagen-standby" ng-show="VISTAS['imagenes'].cargar.imagenes[2].standby_show"></div>
                            <!--Archivo-->
                            <div class="div-carga-imagen button-add-file" ng-show="VISTAS['imagenes'].cargar.imagenes[2].archivo_show">
                                <span class="helper"></span>
                                <label>
                                    <i class="material-icons button-add-icon">add</i>
                                    <input id="archivo_2" name="archivo_2" type="file" style="display: none;"
                                           class="archivo" accept="image/x-png,image/gif,image/jpeg">
                                </label>
                            </div>
                            <!--Imagen cargada-->
                            <div class="div-carga-imagen" ng-show="VISTAS['imagenes'].cargar.imagenes[2].imagencargada_show">
                                <img class="imagen-cargada" ng-src="{{VISTAS['imagenes'].cargar.imagenes[2].imagencargada_base64}}">
                                <p class="nombre-imagen-cargada">{{VISTAS['imagenes'].cargar.imagenes[2].imagencargada_nombre}}</p>
                            </div>

                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">

                            <!--Stand-by-->
                            <div class="div-carga-imagen imagen-standby" ng-show="VISTAS['imagenes'].cargar.imagenes[3].standby_show"></div>
                            <!--Archivo-->
                            <div class="div-carga-imagen button-add-file" ng-show="VISTAS['imagenes'].cargar.imagenes[3].archivo_show">
                                <span class="helper"></span>
                                <label>
                                    <i class="material-icons button-add-icon">add</i>
                                    <input id="archivo_3" name="archivo_3" type="file" style="display: none;"
                                           class="archivo" accept="image/x-png,image/gif,image/jpeg">
                                </label>
                            </div>
                            <!--Imagen cargada-->
                            <div class="div-carga-imagen" ng-show="VISTAS['imagenes'].cargar.imagenes[3].imagencargada_show">
                                <img class="imagen-cargada" ng-src="{{VISTAS['imagenes'].cargar.imagenes[3].imagencargada_base64}}">
                                <p class="nombre-imagen-cargada">{{VISTAS['imagenes'].cargar.imagenes[3].imagencargada_nombre}}</p>
                            </div>

                        </div>
                    </div>
                    <div class="mdl-grid mdl-grid-sin-padding">
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">

                            <!--Stand-by-->
                            <div class="div-carga-imagen imagen-standby" ng-show="VISTAS['imagenes'].cargar.imagenes[4].standby_show"></div>
                            <!--Archivo-->
                            <div class="div-carga-imagen button-add-file" ng-show="VISTAS['imagenes'].cargar.imagenes[4].archivo_show">
                                <span class="helper"></span>
                                <label>
                                    <i class="material-icons button-add-icon">add</i>
                                    <input id="archivo_4" name="archivo_4" type="file" style="display: none;"
                                           class="archivo" accept="image/x-png,image/gif,image/jpeg">
                                </label>
                            </div>
                            <!--Imagen cargada-->
                            <div class="div-carga-imagen" ng-show="VISTAS['imagenes'].cargar.imagenes[4].imagencargada_show">
                                <img class="imagen-cargada" ng-src="{{VISTAS['imagenes'].cargar.imagenes[4].imagencargada_base64}}">
                                <p class="nombre-imagen-cargada">{{VISTAS['imagenes'].cargar.imagenes[4].imagencargada_nombre}}</p>
                            </div>

                        </div>
                        <div class="mdl-cell mdl-cell--6-col mdl-cell--2-col-phone">

                            <!--Stand-by-->
                            <div class="div-carga-imagen imagen-standby" ng-show="VISTAS['imagenes'].cargar.imagenes[5].standby_show"></div>
                            <!--Archivo-->
                            <div class="div-carga-imagen button-add-file" ng-show="VISTAS['imagenes'].cargar.imagenes[5].archivo_show">
                                <span class="helper"></span>
                                <label>
                                    <i class="material-icons button-add-icon">add</i>
                                    <input id="archivo_5" name="archivo_5" type="file" style="display: none;"
                                           class="archivo" accept="image/x-png,image/gif,image/jpeg">
                                </label>
                            </div>
                            <!--Imagen cargada-->
                            <div class="div-carga-imagen" ng-show="VISTAS['imagenes'].cargar.imagenes[5].imagencargada_show">
                                <img class="imagen-cargada" ng-src="{{VISTAS['imagenes'].cargar.imagenes[5].imagencargada_base64}}">
                                <p class="nombre-imagen-cargada">{{VISTAS['imagenes'].cargar.imagenes[5].imagencargada_nombre}}</p>
                            </div>

                        </div>
                    </div>

                </div>
            </div>

            <!--Modal-->
            <dialog class="mdl-dialog">
                <div class="mdl-grid">
                    <div class="mdl-cell mdl-cell--8-col mdl-cell--2-col-phone">
                        {{dialog.status}}
                    </div>
                    <div class="mdl-cell mdl-cell--4-col mdl-cell--2-col-phone" style="text-align: right;">
                        <i class="material-icons">done</i>
                    </div>
                </div>
                <div class="mdl-grid" style="font-size: 14px; padding-left: 19px;">
                    {{dialog.mensaje}}
                </div>
                <div class="mdl-dialog__actions">
                    <button style="color: #0F998F;" class="mdl-button mdl-js-button mdl-js-ripple-effect close">
                        Regresar a Obra
                    </button>
                </div>
            </dialog>

        </div>

    </main>

    <!-- Submenú Inferior 3 opciones-->
    <div class="menuBottom" style="height: 15%;">
        <div class="item alertOpt" ng-click="seleccionaVista('alertas')"
             ng-class="{'selected': VISTAS['alertas'].selected}">
            <!--<div class="circleIndicator">1</div>-->
            <div class="iconAlertOpet"></div>
            Historial de Alertas
        </div>
        <div class="item gestorOpt" ng-click="seleccionaVista('reportes')"
             ng-class="{'selected': VISTAS['reportes'].selected}">
            <div class="icongestorOpt"></div>
            Gestor de Reportes
        </div>
        <div class="item gestorImagenOpt" ng-click="seleccionaVista('imagenes')"
             ng-class="{'selected': VISTAS['imagenes'].selected}">
            <div class="icongestorImagenOpt"></div>
            Gestor de Imágenes
        </div>
    </div>

    <!--Footer-->
    <footer class="mdl-mini-footer" style="">
        <div style="width: 50%; float: left;">
            <img class="img-grupo-ia-footer" src="public/assets/images/logos/grupo_ia.jpg">
        </div>
        <div style="width: 50%; float: left;">
            <img class="img-agendas-footer" src="public/assets/images/logos/agendas.jpg">
        </div>
    </footer>
</div>
